* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: rgb(49, 49, 49);
}
button {
  display: block;
  width: 100%;
  padding: 40px;
  background-color: rgb(48, 48, 48);
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.container > div {
  border: 1px solid rgb(85, 85, 85);
}
.row {
  display: flex;
  color: white;
}
.screen {
  height: 130px;
  background-color: rgb(31, 31, 31);
  padding-bottom: 0;
}

.row > div {
  flex-grow: 1;
}
button:hover {
  background-color: rgb(102, 102, 102);
}
.colored {
  background-color: rgb(43, 43, 43);
}
